<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Edit a new list</h3>
    <form method="POST" action="/listings/<%= listing1._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input name="listing[title]" value="<%= listing1.title %>"type ="text" class="form-control" required>
            <div class="valid-feedback">title looks good</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing1.description %></textarea>
            <div class="valid-feedback">Please enter a short description</div>
        </div>
          
        <div class="mb-3">
            <label for="image" class="form-label">Upload new Image</label>
            <input name="listing[image]"  type="file" class="form-control"  >
            <!-- <div class="valid-feedback">Please enter a valid link</div> -->
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">price</label>
                <input name="listing[price]" value="<%= listing1.price %>"type="number"class="form-control" required>
                <div class="valid-feedback">please enter a valid format</div> 
            </div>
            <div class="mb-3 col-md-8">
                <label for="location" class="form-label">location</label>
                <input name="listing[location]" value="<%= listing1.location %>"type ="text" class="form-control" required>  
                <div class="valid-feedback">please enter location</div>          
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]"value="<%= listing1.country %>"type ="text" class="form-control" required>
            <div class="valid-feedback">please enter country</div>
        </div>
       
        <button class="btn btn-dark editbtn">Edit</button>
    </form>
    </div>
    </div>
    <!-- <script src="/js/script.js"></script> -->
</body>
